<!DOCTYPE html>
<html>
  <%- include('../snippets/head', {title: title}); %>
  <body>
    <main class="container">
      <%- include('../snippets/header', {title: title}); %>
      <%- include('../snippets/nav'); %>
      <section class="content">
      </section>
      <%- include('../snippets/footer'); %>
    </main>
    <%- include('../snippets/scripts') %>
  </body>
</html>
