<!DOCTYPE html>
<html>
  <%- include('../snippets/head', {title: title}); %>
  <style src="/styles/login.css"></style>
  <body>
    <main class="container">
      <%- include('../snippets/header', {title: title}); %>
      <%- include('../snippets/nav'); %>
      <section class="content">
        <div id="error-msg"></div>
        <form method="POST" action="/login">
          <div class="form-group">
            <label for="exampleInputUser1">Username</label>
            <input type="user" name="username" class="form-control" aria-describedby="userHelp" placeholder="Enter Username">
            <small id="userHelp" class="form-text text-muted">We'll never share your user with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </section>
      <%- include('../snippets/footer'); %>
    </main>
    <%- include('../snippets/scripts') %>
    <script src="/javascripts/login.js"></script>
    <style>
      .content {
        padding: 0 25%;
      }
    </style>
  </body>
</html>
